$icon-medium: 24px;

.outerDiv {
  position: sticky;
  top: 0;
  height: 10vh;
  z-index: 20;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    font-size: medium;
    position: sticky;
    text-transform: uppercase;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    .item {
      width: 200px;
      color: white;
      gap: 30px;

      .text {
        text-align: center;
      }

      .icon {
        color: white;
        width: $icon-medium;
        height: $icon-medium;
      }

      .cart {
        position: relative;
        .cartIcon {
          height: 24px;
          width: 24px;
        }

        .cartItems {
          position: absolute;
          top: -10px;
          right: -10px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: white;
          padding: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          color: black;
        }
      }
    }
    .item:first-child {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      align-items: center;
    }
    .item:nth-child(2) {
      flex: 3;
    }
    .item:nth-child(3) {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .list {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 0;

      .listItem {
        font-size: medium;
        .image {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }
      }
    }
  }
  .mobileMenu {
    position: absolute;
    left: 0px;
    height: 90vh;
    width: 40%;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    .mobileList {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;
      text-transform: uppercase;
      font-weight: bold;
      gap: 10px;
      margin-top: 10px;
      color: white;
      .mobileListItem {
        cursor: pointer;
      }
    }
  }

  .hamburger {
    display: none;
    height: 10vh;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}

@media screen and (max-width: 900px) {
  .outerDiv {
    .container {
      display: none;
    }
    .hamburger {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .cart {
        display: flex;
        position: absolute;
        right: 20px;

        .cartIcon {
          color: white;
          height: 24px;
          width: 24px;
        }
        .cartItems {
          position: absolute;
          top: -10px;
          right: -10px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: white;
          padding: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          color: black;
        }
      }

      .hamburgerMenu {
        position: absolute;
        left: 10px;
        color: white;
        font-size: 30px;
      }
    }
  }
}
