.extra {
  display: flex;
  flex-direction: column;
}

.titles {
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.detail {
  height: 50px;
}

.outer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-left: 20px;
}

.container {
  height: auto;
}
